@tailwind base;
@tailwind components;
@tailwind utilities;

.swipe {
  position: relative;
  width: fit-content;
}

.swipe::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #161a40;
  animation: swipe 0.5s forwards;
}

@keyframes swipe {
  0% {
    right: 0;
    left: 0;
    width: 100%;
  }
  50% {
    right: 0;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}
